<% content_for :header_content do %>

     <div class="instructions">Click on a grid location to deploy your rover.</div>

<% end %>


<% content_for :main_content do %>
<form action="/grid/rover" method="POST">
	<table>
    <% 1.upto(@@y) do |y| %>
        <tr> 
            <% 1.upto(@@x) do |x| %>
                <td><button class="inner" type="submit" name="coords" value="<%= "#{x}#{y}" %>"><div class="<%= "#{x}#{y}" %>"></div></button></td>
            <% end %>
        </tr>
    <% end %>
  </table>
 </form>
<% end %>

